@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maxWidth{
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1620px;
}

.customH{
  position: relative;
  top: 67px;
}

.navH{
  height: calc(100vh - 65px);
}

/* BACKGROUNDS */
.bgMain {
  background-image: url("../public/bg-main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 67px);
}

.bgBride {
  background-image: url("../public/bgBride.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-left {
  background-image: url('../public/bg-left.webp');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: right;
}

.assine {
  background-image: url("../public/bg-assine.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #936C4B;
  height: 348px;
}

/* GRADIENTS */
.linear1{
  background: linear-gradient(to bottom, #FFFFFF 0%, #F9ECE1 5%);
}

.linear{
  background: linear-gradient(to bottom, #F9ECE1 1%, #FFFFFF 20%);
}

.btnAssine {
  background-color: #000000;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}









